@import 'tailwindcss';

* {
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body {
	background-color: var(--text-color);
	height: 100dvh;
}

:root {
	--bg-color: #e4e8eb;
	--text-color: #2b2b2b;
	--bg-secondary-color: #6060f0;
}

::-webkit-scrollbar {
	width: 0;
}
